/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

.container {
     max-width: 1170px;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

.img {
     width: 200px;
     height: 200px;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*-- navigation--*/

.navigation.navbar {
     font-family: 'Open Sans', sans-serif;
     float: right;
     padding-top: 15px !important;

}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0;
     margin: 0px 30px;
     color: #333333;
     font-size: 16px;
     line-height: 20px;
     font-weight: 500;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #33f033;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #33f033;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.header {
     width: 100%;
     padding: 25px 0px 25px 0px;
     background: #fff;
}

.logo {
     text-align: left;
}


/** banner section **/

.banner {
     position: relative;
     background: url(../images/banner1.jpg);
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat;
     min-height: 804px;
     padding-top: 21%;
     padding-bottom: 250px;
}

.text-bg {
     text-align: left;
}

.relative {
     position: inherit;
     right: 0;
     left: 0;
     padding: 0;
     bottom: 0;
}

.text-bg h1 {
     color: #000;
     font-size: 85px;
     line-height: 96px;
     padding-bottom: 0px;
     font-weight: bold;
}

.text-bg span {
     line-height: 25px;
     padding-bottom: 40px;
     color: #fff;
     font-size: 17px;
     font-weight: bold;
     display: block;
}

.text-bg .read_more {
     max-width: 243px;
     height: 66px;
     padding: 17px 0;
     background-color: #fff;
     color: #000;
     text-transform: uppercase;
     font-weight: bold;
     border-radius: 50px;
}

.text-bg .read_more:hover {
     background-color: #0d0c0c;
}

.banner .carousel-indicators {
     display: none;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
     width: 36px;
     height: 36px;
     background: #0d0c0c;
     opacity: 1;
     font-size: 25px;
     color: #fff;
     border-radius: 60px;
     top: 97.6%;
}

#myCarousel .carousel-control-prev:hover,
#myCarousel .carousel-control-next:hover,
#myCarousel .carousel-control-prev:focus,
#myCarousel .carousel-control-next:focus {
     background: #16d316;
     color: #fff;
     width: 57px;
     height: 57px;
     font-size: 30px;
     top: 96%;
}

#myCarousel a.carousel-control-prev {
     position: absolute;
     bottom: 10px;
     left: 48%;
}

#myCarousel a.carousel-control-next {
     position: absolute;
     right: inherit;
     bottom: 10px;
     right: 46.5%;
}

#myCarousel .carousel-control-prev:hover,
#myCarousel .carousel-control-prev:focus {
     left: 46.5%;
}

#myCarousel .carousel-control-next:hover,
#myCarousel .carousel-control-next:focus {
     right: 45%;
}


/** end banner section **/

.titlepage {
     text-align: center;
     padding-bottom: 40px;
}

.titlepage h2 {
     font-size: 40px;
     color: #1f1f1f;
     line-height: 45px;
     font-weight: bold;
     padding: 0;
}

.green {
     color: #16e816 !important;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: #252525;
     color: #fff;
     padding: 12px 0px;
     width: 100%;
     max-width: 210px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 400;
}

.read_more:hover {
     background: #16e816;
     color: #fff;
     transition: ease-in all 0.5s;
}


/** about section **/

.about {
     background-color: #fff;
     padding-top: 95px;
}

.about .titlepage {
     text-align: left;
     margin-top: 41%;
     padding-bottom: 0;
     margin-right: -20px;
}

.about .titlepage h2 {
     margin-bottom: 35px;
}

.about .titlepage p {
     font-weight: 300;
     color: #2e2d2d;
     font-size: 17px;
     line-height: 31px;
     padding-bottom: 35px;
}

.about_img {
     padding: 40px 30px 45px 30px;
}

.about_img::before {
     position: absolute;
     content: "";
     background: url(../images/vg.png);
     top: 0;
     height: 100%;
     width: 452px;
     right: 0;
     border-radius: 5px;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
     z-index: 9999;
     position: relative;
}


/** end about section **/


/** service section **/

.service {
     padding-top: 80px;
}

.service_box h3 {
     font-size: 25px;
     color: #252525;
     padding-bottom: 5px;
     margin-top: 15px;
     font-weight: bold;
}

.mar_top {
     margin-top: -35px;
}

.service_box p {
     color: #181818;
}

.service .read_more {
     margin: 0 auto;
     display: block;
     margin-top: 60px;
}


/** end service section **/


/** gallery  section **/

.gallery {
     margin-top: 80px;
     padding-top: 80px;
     background-color: #eae7e7;
     padding-bottom: 50px;
}

.gallery .titlepage {
     text-align: center;
}

.gallery .titlepage p {
     color: #2a2b2a;
     display: block;
     padding-top: 20px;
}

.gallery .gallery_img {
     overflow: hidden;
     margin-bottom: 30px;
}

.gallery .gallery_img figure {
     margin: 0;
}

.gallery .gallery_img figure img {
     width: 100%;
     transition: all .5s;
}

.gallery .gallery_img figure img:hover {
     transform: scale(1.2);
     cursor: pointer;
}

.gallery_text {
     text-align: center;
     background-color: #2a2b2a;
     height: 369px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.galleryh3 h3 {
     font-size: 24px;
     line-height: 30px;
     color: #fff;
     font-weight: bold;
}

.galleryh3 p {
     font-size: 17px;
     line-height: 31px;
     color: #fff;
}


/** end gallery  section **/


/** design section **/

.design {
     padding-top: 80px;
}

.text_de p {
     color: #2a2b2a;
     padding-bottom: 50px;
     font-size: 17px;
     line-height: 31px;
}

.banner_design {
     max-width: 443px;
     float: right;
     width: 100%;
}

.design_img figure {
     margin: 0;
}

.design_img figure img {
     width: 100%;
}

.banner_design .carousel-indicators {
     display: none;
}

#design .carousel-control-prev,
#design .carousel-control-next {
     width: 83px;
     height: 76px;
     background: #0d0c0c;
     opacity: 1;
     font-size: 35px;
     color: #fff;
     top: 97%;
}

#design .carousel-control-prev:hover,
#design .carousel-control-next:hover,
#design .carousel-control-prev:focus,
#design .carousel-control-next:focus {
     background: #16d316;
     color: #000;
}

#design a.carousel-control-prev {
     position: absolute;
     left: 31%;
}

#design a.carousel-control-next {
     position: absolute;
     right: 29%;
}

.pad_roght0 {
     padding-right: 0;
}

.text_de .titlepage {
     padding-bottom: 30px;
}


/** end design section **/


/** latest_news section **/

.latest_news {
     padding: 80px 0 50px 0;
}

.latest_news .titlepage {
     text-align: center;
}

.latest_news .titlepage p {
     color: #fff;
     font-size: 17px;
     margin-top: 20px;
}

.latest_news .news_box {
     text-align: left;
     background-color: #ffffff;
     margin-bottom: 30px;
     transition: ease-in all 0.5s;
}

.latest_news .news_box .news_img figure {
     margin: 0;
     padding: 0px 30px 0 0;
     margin-left: -195px;
}

.latest_news .news_box .news_img figure img {
     width: 100%;
}

.mr_le figure {
     margin-left: 0 !important;
     margin-right: -195px !important;
     padding: 0px 0px 0 30px !important;
}

.latest_news .news_box .news_room {
     padding: 15px 30px;
     text-align: left;
}

.latest_news .news_box .news_room h3 {
     color: #252525;
     font-size: 17px;
     line-height: 20px;
     font-weight: bold;
     padding-bottom: 10px;
     transition: ease-in all 0.5s;
     margin: auto;
     padding-top: 15px;
}

.latest_news .news_box .news_room span {
     font-size: 15px;
     color: #252525;
     font-weight: 400;
     margin-bottom: 0px;
     display: block;
     transition: ease-in all 0.5s;
}

.latest_news .news_box .news_room ul li {
     display: inline-block;
}

.latest_news .news_box .news_room ul li a {
     transition: ease-in all 0.5s;
     display: inline-block;
     font-size: 15px;
     padding-right: 30px;
}

.latest_news .news_box .news_room ul li a i {
     padding-left: 5px;
}

.latest_news .news_box .news_room ul li a:hover {
     color: #16e816 !important;
}

.latest_news .news_box .news_room ul li:last-child a {
     padding-right: 0;
}

.latest_news .news_box .news_room p {
     font-size: 16px;
     line-height: 21px;
     font-weight: 400;
     color: #1b1b1b;
     transition: ease-in all 0.5s;
}

#new:hover.news_box {
     background: #292a29;
     transition: ease-in all 0.5s;
     cursor: pointer;
}

#new:hover.news_box .news_room span,
#new:hover.news_box .news_room h3,
#new:hover.news_box .news_room p,
#new:hover.news_box .news_room ul li a {
     color: #fff;
     transition: ease-in all 0.5s;
}

.latest_news .read_more {
     margin: 0 auto;
     display: block;
     margin-top: 30px;
}


/** end latest_news section **/


/** testimonial section **/

.Testimonial {
     padding-top: 80px;
}

.banner_testimonial {
     padding: 40px 50px;
     width: 100%;
     background-color: #343434;
}

.text_humai {
     margin-top: 60px;
     text-align: left;
     padding: 0 30px 40px 30px;
     border: #16d316 solid 1px;
     border-radius: 5px;
}

.text_humai span {
     color: #fff;
     padding-top: 20px;
     padding-bottom: 20px;
     font-size: 17px;
     line-height: 31px;
     font-weight: bold;
     display: block;
}

.text_humai i img {
     margin-top: -60px;
}

.text_humai p {
     color: #fff;
     font-weight: 400;
     font-size: 17px;
     line-height: 31px;
}

.banner_testimonial .carousel-indicators {
     display: none;
}

.pad_left0 {
     padding-left: 0;
}

#testimon .carousel-control-prev,
#testimon .carousel-control-next {
     width: 83px;
     height: 76px;
     background: #0d0c0c;
     opacity: 1;
     font-size: 35px;
     color: #fff;
     top: 67%;
}

#testimon .carousel-control-prev:hover,
#testimon .carousel-control-next:hover,
#testimon .carousel-control-prev:focus,
#testimon .carousel-control-next:focus {
     background: #16d316;
     color: #000;
}

#testimon a.carousel-control-prev {
     position: absolute;
     left: 118%;
}

#testimon a.carousel-control-next {
     position: absolute;
     right: -38%;
}

.pad_roght0 {
     padding-right: 0;
}

.text_de .titlepage {
     padding-bottom: 30px;
}


/** end testimonial section **/


/** contact section **/

.contact {
     background: url(../images/conatct.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-position: center;
     margin-top: 90px;
     padding: 80px 0;
}

.contact .titlepage {
     text-align: left;
}

.contact .titlepage h2 {
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
}

.main_form .contactus {
     border: #fff solid 1px;
     padding: 0 15px;
     margin-bottom: 25px;
     width: 100%;
     height: 54px;
     background: #fff;
     color: #989696;
     font-size: 18px;
     font-weight: normal;
     border-radius: 5px;
}

.main_form .textarea {
     border: #fff solid 1px;
     margin-bottom: 25px;
     width: 100%;
     background: #fff;
     color: #989696;
     font-size: 18px;
     font-weight: normal;
     padding: 35px 15px 0 15px;
     height: 107px;
     border-radius: 5px;
}

.main_form .send_btn {
     font-size: 22px;
     transition: ease-in all 0.5s;
     background-color: transparent;
     border: #fff solid 3px;
     text-transform: uppercase;
     color: #fff;
     padding: 7px 0px;
     max-width: 150px;
     width: 100%;
     display: block;
     margin-top: 10px !important;
     font-weight: 500;
}

.main_form .send_btn:hover {
     background-color: #2a2b2a;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #989696;
     opacity: 1;
}

@media (max-height: 576px) {
     .contact {
          background: url(../images/conatct.jpg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          margin-top: 90px;
          padding: 80px 0;
          padding-left: 30px;
          padding-right: 30px;
     }

     .main_form .contactus {
          border: #fff solid 1px;
          padding: 0 15px;
          margin-bottom: 25px;
          width: 50%;
          height: 24px;
          background: #fff;
          color: #989696;
          font-size: 10px;
          font-weight: normal;
          border-radius: 2px;
     }
}
/** end contact section **/


/** footer **/

.footer {
     background: #202020;
     padding-top: 80px;
     text-align: center;
}

.footer h3 {
     font-weight: 400;
     font-size: 30px;
     line-height: 23px;
     text-align: left;
     color: #fff;
     padding-bottom: 20px;
     display: table;
     text-transform: uppercase;
}

ul.social_icon {
     padding-bottom: 14px;
     width: 100%;
     text-align: left;
}

ul.social_icon li {
     display: inline-block;
}

ul.social_icon li a {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     border-radius: 30px;
     margin: 0 3px;
     color: #202020;
     background: #fff;
     width: 35px;
     height: 35px;
     flex-wrap: wrap;
}

ul.social_icon li a:hover {
     color: #fff;
     background: #33f033;
}

.pad_roght2 {
     padding-right: 20px;
}

.variat {
     color: #fff;
     text-align: left;
     font-size: 17px;
     font-weight: 400;
     line-height: 28px;
}

ul.conta li {
     color: #fff;
     text-align: left;
     padding-bottom: 20px;
     font-size: 16px;
}

ul.conta li i {
     padding-right: 15px;
     text-align: center;
     font-size: 20px;
}

ul.conta li a {
     color: #fff;
}

ul.link_menu li {
     display: block;
     text-align: left;
}

ul.link_menu li a {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     display: block;
     width: -moz-max-content;
}

ul.link_menu li a:hover {
     color: #33f033;
}

.bottom_form {
     display: flex;
     flex-wrap: wrap;
     margin-top: 40px;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 119px 0px 0px;
     width: 100%;
     height: 45px;
     background: transparent;
     color: #4d4c4c;
     font-size: 17px;
     font-weight: 300;
     float: left;
     margin-bottom: 20px;
     border-bottom: #fff solid 1px;
}

.sub_btn {
     font-size: 19px;
     transition: ease-in all 0.5s;
     background-color: transparent;
     color: #fff;
     padding: 8px 0px;
     max-width: 147px;
     width: 100%;
     font-weight: 500;
     text-transform: uppercase;
     position: absolute;
     right: 0;
}

.sub_btn:hover {
     transition: ease-in all 0.5s;
     color: #33f033;
}

#hkh *::placeholder {
     color: #4d4c4c;
     opacity: 1;
}

.copyright {
     margin-top: 60px;
     padding-bottom: 20px;
     background-color: #fff;
}

.copyright p {
     color: #000;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     font-weight: normal;
}

.copyright a {
     color: #000;
}

.copyright a:hover {
     color: #33f033;
}


/** end footer **/


/** endinner page css **/


.circliful .outer {
     fill: transparent;
     stroke: #333;
     stroke-width: 19.8;
     stroke-dasharray: 534;
     transition: stroke-dashoffset 1s;
 }
 
 /* full circle 25 empty 534 */
 .circliful .inner {
     fill: transparent;
     stroke: orange;
     stroke-width: 20;
     stroke-dasharray: 534;
     transition: stroke-dashoffset 1s;
     /* firefox bug fix - won't rotate at 90deg angles */
     stroke-dashoffset: 0;
 }
 
 .circliful {
     overflow: visible !important;
 
 }
 
 .svg-container {
     width: 100%;
     margin: 0 auto;
     overflow: visible;
     position: relative;
      margin-top:-40px;
 }
 
 svg .icon {
     font-family: FontAwesome;
 }
 
 .legend-line {
     white-space: nowrap;
 }
 
 .color-box {
     width: 15px;
     height: 15px;
     border-radius: 2px;
     display: inline-block;
     padding-top: 3px;
     margin: 2px 5px 0 0;
 }







 body.compensate-for-scrollbar {
     overflow: hidden
 }
 
 .fancybox-active {
     height: auto
 }
 
 .fancybox-is-hidden {
     left: -9999px;
     margin: 0;
     position: absolute!important;
     top: -9999px;
     visibility: hidden
 }
 
 .fancybox-container {
     height: 100%;
     left: 0;
     outline: none;
     position: fixed;
     -webkit-tap-highlight-color: transparent;
     top: 0;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     width: 100%;
     z-index: 99999
 }
 
 .fancybox-container * {
     box-sizing: border-box
 }
 
 .fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage {
     bottom: 0;
     left: 0;
     position: absolute;
     right: 0;
     top: 0
 }
 
 .fancybox-outer {
     -webkit-overflow-scrolling: touch;
     overflow-y: auto
 }
 
 .fancybox-bg {
     background: #1e1e1e;
     opacity: 0;
     transition-duration: inherit;
     transition-property: opacity;
     transition-timing-function: cubic-bezier(.47,0,.74,.71)
 }
 
 .fancybox-is-open .fancybox-bg {
     opacity: .9;
     transition-timing-function: cubic-bezier(.22,.61,.36,1)
 }
 
 .fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar {
     direction: ltr;
     opacity: 0;
     position: absolute;
     transition: opacity .25s ease,visibility 0s ease .25s;
     visibility: hidden;
     z-index: 99997
 }
 
 .fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar {
     opacity: 1;
     transition: opacity .25s ease 0s,visibility 0s ease 0s;
     visibility: visible
 }
 
 .fancybox-infobar {
     color: #ccc;
     font-size: 13px;
     -webkit-font-smoothing: subpixel-antialiased;
     height: 44px;
     left: 0;
     line-height: 44px;
     min-width: 44px;
     mix-blend-mode: difference;
     padding: 0 10px;
     pointer-events: none;
     top: 0;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
 }
 
 .fancybox-toolbar {
     right: 0;
     top: 0
 }
 
 .fancybox-stage {
     direction: ltr;
     overflow: visible;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     z-index: 99994
 }
 
 .fancybox-is-open .fancybox-stage {
     overflow: hidden
 }
 
 .fancybox-slide {
     display: none;
     height: 100%;
     left: 0;
     outline: none;
     overflow: auto;
     -webkit-overflow-scrolling: touch;
     padding: 44px;
     position: absolute;
     text-align: center;
     top: 0;
     transition-property: opacity,-webkit-transform;
     transition-property: transform,opacity;
     transition-property: transform,opacity,-webkit-transform;
     white-space: normal;
     width: 100%;
     z-index: 99994
 }
 
 .fancybox-slide:before {
     content: "";
     display: inline-block;
     font-size: 0;
     height: 100%;
     vertical-align: middle;
     width: 0
 }
 
 .fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous {
     display: block
 }
 
 .fancybox-slide--image {
     overflow: hidden;
     padding: 44px 0
 }
 
 .fancybox-slide--image:before {
     display: none
 }
 
 .fancybox-slide--html {
     padding: 6px
 }
 
 .fancybox-content {
     background: #fff;
     display: inline-block;
     margin: 0;
     max-width: 100%;
     overflow: auto;
     -webkit-overflow-scrolling: touch;
     padding: 44px;
     position: relative;
     text-align: left;
     vertical-align: middle
 }
 
 .fancybox-slide--image .fancybox-content {
     -webkit-animation-timing-function: cubic-bezier(.5,0,.14,1);
     animation-timing-function: cubic-bezier(.5,0,.14,1);
     background: transparent;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     left: 0;
     max-width: none;
     overflow: visible;
     padding: 0;
     position: absolute;
     top: 0;
     -webkit-transform-origin: top left;
     transform-origin: top left;
     transition-property: opacity,-webkit-transform;
     transition-property: transform,opacity;
     transition-property: transform,opacity,-webkit-transform;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     z-index: 99995
 }
 
 .fancybox-can-zoomOut .fancybox-content {
     cursor: zoom-out
 }
 
 .fancybox-can-zoomIn .fancybox-content {
     cursor: zoom-in
 }
 
 .fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content {
     cursor: -webkit-grab;
     cursor: grab
 }
 
 .fancybox-is-grabbing .fancybox-content {
     cursor: -webkit-grabbing;
     cursor: grabbing
 }
 
 .fancybox-container [data-selectable=true] {
     cursor: text
 }
 
 .fancybox-image,.fancybox-spaceball {
     background: transparent;
     border: 0;
     height: 100%;
     left: 0;
     margin: 0;
     max-height: none;
     max-width: none;
     padding: 0;
     position: absolute;
     top: 0;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     width: 100%
 }
 
 .fancybox-spaceball {
     z-index: 1
 }
 
 .fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--video .fancybox-content {
     height: 100%;
     overflow: visible;
     padding: 0;
     width: 100%
 }
 
 .fancybox-slide--video .fancybox-content {
     background: #000
 }
 
 .fancybox-slide--map .fancybox-content {
     background: #e5e3df
 }
 
 .fancybox-slide--iframe .fancybox-content {
     background: #fff
 }
 
 .fancybox-iframe,.fancybox-video {
     background: transparent;
     border: 0;
     display: block;
     height: 100%;
     margin: 0;
     overflow: hidden;
     padding: 0;
     width: 100%
 }
 
 .fancybox-iframe {
     left: 0;
     position: absolute;
     top: 0
 }
 
 .fancybox-error {
     background: #fff;
     cursor: default;
     max-width: 400px;
     padding: 40px;
     width: 100%
 }
 
 .fancybox-error p {
     color: #444;
     font-size: 16px;
     line-height: 20px;
     margin: 0;
     padding: 0
 }
 
 .fancybox-button {
     background: rgba(30,30,30,.6);
     border: 0;
     border-radius: 0;
     box-shadow: none;
     cursor: pointer;
     display: inline-block;
     height: 44px;
     margin: 0;
     padding: 10px;
     position: relative;
     transition: color .2s;
     vertical-align: top;
     visibility: inherit;
     width: 44px
 }
 
 .fancybox-button,.fancybox-button:link,.fancybox-button:visited {
     color: #ccc
 }
 
 .fancybox-button:hover {
     color: #fff
 }
 
 .fancybox-button:focus {
     outline: none
 }
 
 .fancybox-button.fancybox-focus {
     outline: 1px dotted
 }
 
 .fancybox-button[disabled],.fancybox-button[disabled]:hover {
     color: #888;
     cursor: default;
     outline: none
 }
 
 .fancybox-button div {
     height: 100%
 }
 
 .fancybox-button svg {
     display: block;
     height: 100%;
     overflow: visible;
     position: relative;
     width: 100%
 }
 
 .fancybox-button svg path {
     fill: currentColor;
     stroke-width: 0
 }
 
 .fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:nth-child(1),.fancybox-button--pause svg:nth-child(1),.fancybox-button--play svg:nth-child(2) {
     display: none
 }
 
 .fancybox-progress {
     background: #ff5268;
     height: 2px;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     -webkit-transform: scaleX(0);
     transform: scaleX(0);
     -webkit-transform-origin: 0;
     transform-origin: 0;
     transition-property: -webkit-transform;
     transition-property: transform;
     transition-property: transform,-webkit-transform;
     transition-timing-function: linear;
     z-index: 99998
 }
 
 .fancybox-close-small {
     background: transparent;
     border: 0;
     border-radius: 0;
     color: #ccc;
     cursor: pointer;
     opacity: .8;
     padding: 8px;
     position: absolute;
     right: -12px;
     top: -44px;
     z-index: 401
 }
 
 .fancybox-close-small:hover {
     color: #fff;
     opacity: 1
 }
 
 .fancybox-slide--html .fancybox-close-small {
     color: currentColor;
     padding: 10px;
     right: 0;
     top: 0
 }
 
 .fancybox-slide--image.fancybox-is-scaling .fancybox-content {
     overflow: hidden
 }
 
 .fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
     display: none
 }
 
 .fancybox-navigation .fancybox-button {
     background-clip: content-box;
     height: 100px;
     opacity: 0;
     position: absolute;
     top: calc(50% - 50px);
     width: 70px
 }
 
 .fancybox-navigation .fancybox-button div {
     padding: 7px
 }
 
 .fancybox-navigation .fancybox-button--arrow_left {
     left: 0;
     padding: 31px 26px 31px 6px
 }
 
 .fancybox-navigation .fancybox-button--arrow_right {
     padding: 31px 6px 31px 26px;
     right: 0
 }
 
 .fancybox-caption {
     bottom: 0;
     color: #eee;
     font-size: 14px;
     font-weight: 400;
     left: 0;
     line-height: 1.5;
     padding: 25px 44px;
     right: 0;
     text-align: center;
     z-index: 99996
 }
 
 .fancybox-caption:before {
     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAQAAADKSeXYAAAAYklEQVQoz42RwQ3AMAgDjfcfup8WoRykfBAK5mQHKSz5rbXJPis1hjiV3CIqgG0hLZPkVkA4p4x5oR1bVeDrdCLrW2Q0D5bcwY3TGMHbdw3mPRuOtaspYP1w//G1OIcW148H0DMCqI/3mMMAAAAASUVORK5CYII=);
     background-repeat: repeat-x;
     background-size: contain;
     bottom: 0;
     content: "";
     display: block;
     left: 0;
     pointer-events: none;
     position: absolute;
     right: 0;
     top: -44px;
     z-index: -1
 }
 
 .fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited {
     color: #ccc;
     text-decoration: none
 }
 
 .fancybox-caption a:hover {
     color: #fff;
     text-decoration: underline
 }
 
 .fancybox-loading {
     -webkit-animation: a 1s linear infinite;
     animation: a 1s linear infinite;
     background: transparent;
     border: 4px solid #888;
     border-bottom-color: #fff;
     border-radius: 50%;
     height: 50px;
     left: 50%;
     margin: -25px 0 0 -25px;
     opacity: .7;
     padding: 0;
     position: absolute;
     top: 50%;
     width: 50px;
     z-index: 99999
 }
 
 @-webkit-keyframes a {
     to {
         -webkit-transform: rotate(1turn);
         transform: rotate(1turn)
     }
 }
 
 @keyframes a {
     to {
         -webkit-transform: rotate(1turn);
         transform: rotate(1turn)
     }
 }
 
 .fancybox-animated {
     transition-timing-function: cubic-bezier(0,0,.25,1)
 }
 
 .fancybox-fx-slide.fancybox-slide--previous {
     opacity: 0;
     -webkit-transform: translate3d(-100%,0,0);
     transform: translate3d(-100%,0,0)
 }
 
 .fancybox-fx-slide.fancybox-slide--next {
     opacity: 0;
     -webkit-transform: translate3d(100%,0,0);
     transform: translate3d(100%,0,0)
 }
 
 .fancybox-fx-slide.fancybox-slide--current {
     opacity: 1;
     -webkit-transform: translateZ(0);
     transform: translateZ(0)
 }
 
 .fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous {
     opacity: 0;
     transition-timing-function: cubic-bezier(.19,1,.22,1)
 }
 
 .fancybox-fx-fade.fancybox-slide--current {
     opacity: 1
 }
 
 .fancybox-fx-zoom-in-out.fancybox-slide--previous {
     opacity: 0;
     -webkit-transform: scale3d(1.5,1.5,1.5);
     transform: scale3d(1.5,1.5,1.5)
 }
 
 .fancybox-fx-zoom-in-out.fancybox-slide--next {
     opacity: 0;
     -webkit-transform: scale3d(.5,.5,.5);
     transform: scale3d(.5,.5,.5)
 }
 
 .fancybox-fx-zoom-in-out.fancybox-slide--current {
     opacity: 1;
     -webkit-transform: scaleX(1);
     transform: scaleX(1)
 }
 
 .fancybox-fx-rotate.fancybox-slide--previous {
     opacity: 0;
     -webkit-transform: rotate(-1turn);
     transform: rotate(-1turn)
 }
 
 .fancybox-fx-rotate.fancybox-slide--next {
     opacity: 0;
     -webkit-transform: rotate(1turn);
     transform: rotate(1turn)
 }
 
 .fancybox-fx-rotate.fancybox-slide--current {
     opacity: 1;
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg)
 }
 
 .fancybox-fx-circular.fancybox-slide--previous {
     opacity: 0;
     -webkit-transform: scale3d(0,0,0) translate3d(-100%,0,0);
     transform: scale3d(0,0,0) translate3d(-100%,0,0)
 }
 
 .fancybox-fx-circular.fancybox-slide--next {
     opacity: 0;
     -webkit-transform: scale3d(0,0,0) translate3d(100%,0,0);
     transform: scale3d(0,0,0) translate3d(100%,0,0)
 }
 
 .fancybox-fx-circular.fancybox-slide--current {
     opacity: 1;
     -webkit-transform: scaleX(1) translateZ(0);
     transform: scaleX(1) translateZ(0)
 }
 
 .fancybox-fx-tube.fancybox-slide--previous {
     -webkit-transform: translate3d(-100%,0,0) scale(.1) skew(-10deg);
     transform: translate3d(-100%,0,0) scale(.1) skew(-10deg)
 }
 
 .fancybox-fx-tube.fancybox-slide--next {
     -webkit-transform: translate3d(100%,0,0) scale(.1) skew(10deg);
     transform: translate3d(100%,0,0) scale(.1) skew(10deg)
 }
 
 .fancybox-fx-tube.fancybox-slide--current {
     -webkit-transform: translateZ(0) scale(1);
     transform: translateZ(0) scale(1)
 }
 
 @media (max-height: 576px) {
     .fancybox-caption {
         padding:12px
     }
 
     .fancybox-slide {
         padding-left: 6px;
         padding-right: 6px
     }
 
     .fancybox-slide--image {
         padding: 6px 0
     }
 
     .fancybox-slide--image .fancybox-close-small {
         background: #4e4e4e;
         color: #f2f4f6;
         height: 36px;
         opacity: 1;
         padding: 6px;
         right: 0;
         top: 0;
         width: 36px
     }
 }
 
 .fancybox-share {
     background: #f4f4f4;
     border-radius: 3px;
     max-width: 90%;
     padding: 30px;
     text-align: center
 }
 
 .fancybox-share h1 {
     color: #222;
     font-size: 35px;
     font-weight: 700;
     margin: 0 0 20px
 }
 
 .fancybox-share p {
     margin: 0;
     padding: 0
 }
 
 .fancybox-share__button {
     border: 0;
     border-radius: 3px;
     display: inline-block;
     font-size: 14px;
     font-weight: 700;
     line-height: 40px;
     margin: 0 5px 10px;
     min-width: 130px;
     padding: 0 15px;
     text-decoration: none;
     transition: all .2s;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     white-space: nowrap
 }
 
 .fancybox-share__button:link,.fancybox-share__button:visited {
     color: #fff
 }
 
 .fancybox-share__button:hover {
     text-decoration: none
 }
 
 .fancybox-share__button--fb {
     background: #3b5998
 }
 
 .fancybox-share__button--fb:hover {
     background: #344e86
 }
 
 .fancybox-share__button--pt {
     background: #bd081d
 }
 
 .fancybox-share__button--pt:hover {
     background: #aa0719
 }
 
 .fancybox-share__button--tw {
     background: #1da1f2
 }
 
 .fancybox-share__button--tw:hover {
     background: #0d95e8
 }
 
 .fancybox-share__button svg {
     height: 25px;
     margin-right: 7px;
     position: relative;
     top: -1px;
     vertical-align: middle;
     width: 25px
 }
 
 .fancybox-share__button svg path {
     fill: #fff
 }
 
 .fancybox-share__input {
     background: transparent;
     border: 0;
     border-bottom: 1px solid #d7d7d7;
     border-radius: 0;
     color: #5d5b5b;
     font-size: 14px;
     margin: 10px 0 0;
     outline: none;
     padding: 10px 15px;
     width: 100%
 }
 
 .fancybox-thumbs {
     background: #ddd;
     bottom: 0;
     display: none;
     margin: 0;
     -webkit-overflow-scrolling: touch;
     -ms-overflow-style: -ms-autohiding-scrollbar;
     padding: 2px 2px 4px;
     position: absolute;
     right: 0;
     -webkit-tap-highlight-color: transparent;
     top: 0;
     width: 212px;
     z-index: 99995
 }
 
 .fancybox-thumbs-x {
     overflow-x: auto;
     overflow-y: hidden
 }
 
 .fancybox-show-thumbs .fancybox-thumbs {
     display: block
 }
 
 .fancybox-show-thumbs .fancybox-inner {
     right: 212px
 }
 
 .fancybox-thumbs__list {
     font-size: 0;
     height: 100%;
     list-style: none;
     margin: 0;
     overflow-x: hidden;
     overflow-y: auto;
     padding: 0;
     position: absolute;
     position: relative;
     white-space: nowrap;
     width: 100%
 }
 
 .fancybox-thumbs-x .fancybox-thumbs__list {
     overflow: hidden
 }
 
 .fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
     width: 7px
 }
 
 .fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
     background: #fff;
     border-radius: 10px;
     box-shadow: inset 0 0 6px rgba(0,0,0,.3)
 }
 
 .fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
     background: #2a2a2a;
     border-radius: 10px
 }
 
 .fancybox-thumbs__list a {
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     background-color: rgba(0,0,0,.1);
     background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     cursor: pointer;
     float: left;
     height: 75px;
     margin: 2px;
     max-height: calc(100% - 8px);
     max-width: calc(50% - 4px);
     outline: none;
     overflow: hidden;
     padding: 0;
     position: relative;
     -webkit-tap-highlight-color: transparent;
     width: 100px
 }
 
 .fancybox-thumbs__list a:before {
     border: 6px solid #ff5268;
     bottom: 0;
     content: "";
     left: 0;
     opacity: 0;
     position: absolute;
     right: 0;
     top: 0;
     transition: all .2s cubic-bezier(.25,.46,.45,.94);
     z-index: 99991
 }
 
 .fancybox-thumbs__list a:focus:before {
     opacity: .5
 }
 
 .fancybox-thumbs__list a.fancybox-thumbs-active:before {
     opacity: 1
 }
 
 @media (max-width: 576px) {
     .fancybox-thumbs {
         width:110px
     }
 
     .fancybox-show-thumbs .fancybox-inner {
         right: 110px
     }
 
     .fancybox-thumbs__list a {
         max-width: calc(100% - 10px)
     }
 }